<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset.css">
       <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/card.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <title>Card</title>
</head>
<body class="body">
    <div class="cardDisplay__card palette<%= palette %>">
        <div class="titleWrap titleWrapColor">
          <h1 class="nameCardColor cardDisplay__card--name">
            <%= name %>
          </h1>
          <h3 class="cardDisplay__card--profesion">
            <%= job %>
          </h3>
        </div>
        <div class="cardDisplay__card--photo">
            <img
              class="cardDisplay__card--photo"
              src="<%= photo %>"
              alt="foto de perfil"
            />
        </div>
        <ul class="cardDisplay__card--iconList">
          <li class="cardListElement">
            <a
              class="iconColor cardListElement__icon telf"
              href="tel:<%= phone %>"
              target="_blank"
              rel="noreferrer"
            >
              <i class="fa-solid fa-mobile-screen icon"></i>
            </a>
          </li>
          <li class="cardListElement">
            <a
              class="iconColor cardListElement__icon email"
              href="mailto:<%= email %>"
              target="_blank"
              rel="noreferrer"
            >
              <i class="fa-regular fa-envelope"></i>
            </a>
          </li>
          <li class="cardListElement">
            <a
              class="iconColor cardListElement__icon linkedin"
              href='https://linkedin.com/in/<%= linkedin.includes("linkedin") ? linkedin.substring(28) : linkedin %>'
              target="_blank"
              rel="noreferrer"
            >
              <i class="fa-brands fa-linkedin-in icon-dots icon"></i>
            </a>
          </li>
          <li class="cardListElement">
            <a
              class="iconColor cardListElement__icon github"
              href= 'https://github.com/<%= github.includes("github") ? github.substring(19) : github %>'
              target="_blank"
              rel="noreferrer"
            >
              <i class="fa-brands fa-github-alt icon-dots icon"></i>
            </a>
          </li>
        </ul>
      </div>
</body>
</html>